<section class="todoapp" *ngIf="todolistObs | async as todolist">
  <header class="header">
    <h1>{{todolist.label}}</h1>
    <form (ngSubmit)="append(lab.value); lab.value = ''">
      <input  name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus #lab/>
    </form>
  </header>
  <section class="main" *ngIf="!todolist.items.isEmpty()">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            id  ="toggleAll"
            [ngModel] = "allIsChecked"
    />
    <label for="toggleAll">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let item of todolist.items"
          [class.completed] = "item.isDone"
          [class.editing]   = "compoItem.isEditing"
      >
        <app-todo-item [item]="item" #compoItem></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong></strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll">Tous</a>
      </li>
      <li>
        <a class="filterActives">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed">Supprimer cochées</button>
  </footer>
</section>

