<div class="view">
  <input 	class			      = "toggle"
          type			      = "checkbox"
          name			      = "done"
          [(ngModel)]     = "isDone"
  />
  <label class="texte" (dblclick)="isEditing = true">
    {{item.label}}
  </label>
  <button class="destroy" (click)="delete()"></button>
</div>
<form (ngSubmit)="setLabel(newTextInput.value)">
  <input  #newTextInput
          name      = "newTextInput"
          class     = "edit"
          [ngModel] = "item.label"
          (blur)    = "setLabel(newTextInput.value)"
  />
</form>
